<p>{{'Server'}} has server Id of {{serverId}}</p>
<p>This will be offline if above 25, and online otherwise</p>
<p>Status: {{serverStatus}}</p>

<label>Username</label>
<input 
  type="text" 
  class="form-control"
  [(ngModel)]="username"
>
<p>{{username}}</p>
<button [disabled]="!username.length" class="btn btn-primary" (click)="resetUsername()">Reset username</button>
<hr>
<label>Server Name</label>
<!-- <input 
  type="text" 
  class="form-control"
  (input)="onUpdateServerName($event)"
> -->
<input 
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
/>
<p>Text you're typing: {{serverName}}</p>
<hr>
<button 
  class="btn btn-primary" 
  (click)="onCreateServer(serverName)"
>
<!-- [disabled]="!allowNewServer" -->
  Add Server
</button>
<p 
  [ngStyle]="{backgroundColor: getColor()}" 
  *ngIf="serverCreated; else noServer"
  [ngClass]="{online: serverStatus==='online'}"
>
  {{serverCreationStatus}}
</p>
<ng-template #noServer><p>No server has been created</p></ng-template>

<ul *ngFor="let server of servers">
  <li>{{server}}</li>
</ul>

<p>Status of allowNewServer: {{allowNewServer}}</p>
<hr>

<h5>This image will show 50% of the time, if boolean is true (showImage status: {{showImage}})</h5>
<div class="text-center" *ngIf="showImage">
  <img class="img-thumbnail img-fluid" alt="Nothing to show" [src]="imageSource">
</div>